<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jz.mall.generator.mapper.UmsAdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jz.mall.generator.model.UmsAdmin">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="icon" property="icon" />
        <result column="email" property="email" />
        <result column="nick_name" property="nickName" />
        <result column="note" property="note" />
        <result column="create_time" property="createTime" />
        <result column="login_time" property="loginTime" />
        <result column="status" property="status" />
    </resultMap>

    <select id="getPermissionList" resultType="com.jz.mall.generator.model.UmsPermission">
        select up.* from ums_permission up
        inner join ums_role_permission_relation urpr on urpr.permission_id=up.id
        inner join ums_role ur on ur.id = urpr.role_id
        inner join ums_admin_role_relation uarr on uarr.role_id = ur.id
        left join ums_admin_permission_relation rapr on rapr.permission_id=up.id and rapr.type = 1
        where uarr.admin_id=#{adminId}
    </select>
</mapper>
